.background {
    -fx-background-color: #5199ff;
    -fx-font-size: 16px;
}
.navbar {
    -fx-background-color: #242240;
    -fx-width: 100%;
}
.right {
    -fx-background-color: #76fec5;
}
.inarr {
    -fx-min-width: 150px;
    -fx-max-width: 150px;
}
.content {
    -fx-width: 75%;
    -fx-alignment: center;
}
.btn-menu {
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-radius: 2px;
}
.btn, .btn-menu {
    -fx-font-size: 12px;
    -fx-background-color: inherit;
    -fx-text-fill: white;
}

.btn:hover, .btn-menu:hover {
    -fx-background-color: rgba(0.5,0.5,0.5,0.4);
}
.footer {
    -fx-background-color: #242240;
}